#chartdiv {
	width: 100%;
	height: 500px;
}

body {
	font-family: Roboto, sans-serif;
}

@media screen and (prefers-color-scheme: light), screen and (prefers-color-scheme: no-preference) {
	body {
		color: #202124;
		background-color: #dee1e6;
	}
}

@media screen and (prefers-color-scheme: dark) {
	body {
		background-color: #212121;
		color: white;
	}
}
